/* ======================
MAIN STYLES
====================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ======================
Font styles
====================== */

h1 {
    margin: 50px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 32px;
}

h2 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #858282;
    font-weight: lighter;
    font-size: 26px;
    margin-bottom:20px;
}

p, .form1__notification-checkbox, .form1__notification-text {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-weight: bold;
}

.form1__radio {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-weight: bold;
}

/* ======================
Form styles
====================== */

.form {
    /* border: 1px red solid; */
    margin: 30px 40px;
    padding: 30px;
    background-color: #ffffff;
}

.form1 {
    border-left: 4px #007a00 solid;
    box-shadow: 0px 10px 12px 0px rgba(153,153,153,1);
}
.form2 {
    border-left: 4px #8c8c8c solid;
    box-shadow: 0px 6px 2px 0px rgba(153,153,153,1);
}

.form3 {
    border-left: 4px #306dff solid;
    box-shadow: 0px 7px 10px 3px rgba(153,153,153,1);
}

/* ======================
Form 1 styles - 
complaint form
====================== */

label {
    margin-right: 10px;
    display: block;
    width: 250px;
    line-height: 25px;
}

input, .form2__products-list, .complaint-data__description, .complaint-data__request {
    border: 1px solid #b0c4de;
    border-radius: 4px;
    font-size: 18px;
    width: 300px;
}

.form1__radio {
    font-size: 18px;
    margin-right: 0px;
    width: 15px;
}

.form1__radio--women {
    margin-left: 260px;
}

.post-code {
    width: 100px;
}

p, .form1__radio-container, .form1__notification-container {
    display: flex;
}

.form1__notification-checkbox {
    width: 10px;
}

.form1__notification2-wrapper {
    margin-left: 260px;
}

/* ======================
Form 2 styles - 
complaint product form
====================== */

.form2__products-list {
    width: 400px;
}

.form2__notes {
    width: 500px;
}

/* ======================
Form 3 styles - 
complaint data form
====================== */

.complaint-data__number {
    width: 200px;
}

.complaint-data__date-of-purchase, .complaint-data__date-of-break {
    width: 150px;
}

.complaint-data__reason {
    width: 500px;
}

.complaint-data__description {
    width: 500px;
    height: 60px;
}

.complaint-data__request {
    width: 400px;
}