<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Projekt Blog oparty na NodeJS</title>
</head>
<body>
    <h2>Projekt Blog oparty na NodeJS</h2>
    <hr/>

    <h3>Menu</h3>
        <ul>
            <li>
                <a href="/" title="Home">Home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/insertPost" title="Dodaj nowy post">Dodaj nowy post</a>
            </li>
         </ul>