body {
	font-family: lato;
}

h1 {
	text-align: center;
	font-size: 40px;
}

#tresc {
	margin-left: 350px;
	margin-right: 20px;
	padding-left: 10px;
	border-left: 1px solid black;
}

#menu {
	position: fixed;
	top: 10px;
	width: 300px;
	
}

#menu ul li {
	list-style: none;
	border-bottom: 1px solid rgb(221,221,221);
}

a { 
	color: black;
	text-decoration: none;
	margin-bottom: 1px dotted gray;
}

a:hover {
	color: white;
	background-color: rgb(204,204,204);
}

#stopka {
	border-top: 1px solid black;
	font-size: 12px;
	text-align: center;
	clear: both;
}

.ilustracja {
	float: right;
	padding: 10px;
	margin: 10px;
	border: 1px solid gray;
}

.ilustracja p {
	text-align: center;
}

.wiersz {
	font-size: 40px;
	font-style: italic;
	margin-left: 90px;
	font-family: "Times New Roman";
	color: rgb(72,61,139);
}























